footer.footer {
    background: black;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;

    span {
        margin: 0 10px;
    }
}