@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 800;
}

h2 {
  font-size: 60px;
  margin-top: 0;
  letter-spacing: -2px;
}

p,
li {
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 40px 6%;
  max-width: 1300px;
  margin: auto;
}

.scroll-wrapper {
  margin-top: 150px;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.tags {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #EBEBEB;
    font-weight: 600;
    margin-right: 5px;
    border-radius: 30px;
    padding: 5px 12px;
  }
}

// Buttons

.btn {
  -webkit-appearance: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 30px;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;

  &.btnSolid {
    background: black;
    color: white;
  }

  &:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transform: translateY(-3px);
  }
}

.btnArrow {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;;
  font-weight: 600;
  font-size: 14px;

  &:after {
    position: absolute;
    content: "\27F6";
    right: -30px;
    top: -3px;
    transition: all 0.2s ease;
  }

  &:hover,
  &:focus {
    &:after {
      right: -35px;
    }
  }
}