.about {
    position: sticky;
    top: 20px;
    width: 40%;
    padding-bottom: 40px;

    h1 {
        position: relative;
        font-size: 120px;
        margin: 0;
        padding-left: 70px;
        letter-spacing: -5px;

        &:before {
            position: absolute;
            content: "";
            width: 60px;
            height: 20px;
            background: black;
            left: 0;
            top: 63px;
        }
    }

    p {
        text-align: justify;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 900px) {
    .about {
        position: relative;
        top: 0;
        width: 100%;
        max-width: 500px;
    }
}

@media screen and (max-width: 767px) {
    .about {
        padding-bottom: 0;
        
        h1 {
            font-size: 70px;
            padding-left: 60px;
            letter-spacing: -3px;

            &:before {
                position: absolute;
                width: 50px;
                height: 10px;
                top: 40px;
            }
        }
    }
}